* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    header {
        width: 550px;
        margin:auto;
    }
    #content {
        margin: auto;

    }
    #wrapper{
        width: auto;
    }
    #reminder {

        margin: auto;
    }
    #sidebarR {
        float: none;
    }
    .clear {
        clear: none;
    }

}
