body {
    background-image: url(../images/tropic.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

#wrapper{
    width: 800px;
    background-color:black;
    padding:10px;
    margin: 30px auto;
    text-align: center;
    font-family: Georgia, serif;
    background: rgba(0, 0, 0, 0.3);

}

header {
    height:200px;
    margin-bottom: 12px;
    position: relative;
    padding: 1px;
    background: rgba(248,172,24, 0.8);


}
#reminder {
    height: 50px;
    width: 200px;
    background-color: #A0C0D9;
    position: absolute;
    bottom: -10px;
    left:300px;
}


#sidebarL {
    width: 150px;
    margin-bottom: 12px;
    float: left;
    background: rgba(235,235,235, 0.8);
}
#sidebarR {
    width: 150px;
    margin-bottom: 12px;
    float: right;
    background: rgba(235,235,235, 0.8);
}

#content {
    margin: 0 160px 12px 160px;
    width: 480px;
    color: white;
    background: rgba(197,22,29, 0.8);
}

footer {
    background-color: #f8ac18;
    margin-bottom: 12px;
    background: rgba(248,172,24, 0.6);
}

.clear {
    clear:both;
}
#telephone {
    outline: 1px solid blue;
    width: 10px;
    height: 200px;
    position: fixed;
    top:150px;
    left: 2px;
}
#telephone a {
    text-decoration:none;
}
